.cards {
	grid-template-columns: repeat(auto-fill, 225px);
	gap: 1.2rem;
	margin-top: 1rem;
}

.cards.hide {
	display: none;
}

.cards .card {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 20px;
	gap: 15px;
	background-color: #f8f9faa2;
	border-radius: 9px;
	box-shadow: 0 2px 6px 0px rgb(0 0 0 / 15%);
	white-space: nowrap;
}

.bug-preview {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
}

.cards img {
	width: 90%;
	border-radius: 6px;
}

.severity, .severity span {
	font-family: Roboto-bold, sans-serif;
}

.a {
	color: tomato;
}
.b {
	color: #b97e00;
}
.c {
	color: green;
}
