.login-modal {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 4;
}

.backdrop {
	position: fixed;
	inset: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 3;
}

.login {
	width: 25rem;
	border: 2px solid #234567;
	border-radius: 9px;
	display: flex;
	/* align-items: center; */
	justify-content: center;
	padding: 30px;
	background-color: white;
}

.form {
	display: flex;
	align-items: center;
	flex-direction: column;
	gap: 1.3rem;
	width: 100%;
}

.form input {
	width: 100%;
	padding: 0.5rem;
	font-family: 'Rubik', sans-serif;
	border: 1px solid #ced4da;
	border-radius: 3px;
}

.btns {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	width: 100%;
}

.logout-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
