.main-layout {
	min-height: 100%;
	max-width: 80vw;
	margin: 0 auto;
}

.main-layout-bugs {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.paging {
	width: 150px;
	margin-block-start: 1rem;
	font-size: 1.1rem;
	/* display: flex; */
	align-self: center;
	justify-content: space-between;
}

.paging span {
	font-family: Roboto-bold, sans-serif;
	color: var(--primary-color);
}
